.header-nav{
    padding-top:20px;
}
.navbar-brand{
    text-decoration: none;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
body{
    background:url(images/bg6.png) no-repeat;
    background-size:100% 100%;
    height:100vh;
}
@media(max-height:620px){
    .header-nav,.content{
        height:23rem;
    }
}
.content-box>h1{
    position:relative;
    top:50px;
    color:#8ae4f0;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size:5rem;
}

#change-color{
    color:#C70151;
}

.choose_exam{
    /* border:3px solid black; */
    /* border-radius:0.5rem; */
    padding:5px;
    width : 200px;
    position: relative;
    top : 180px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
label{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.subject{
    margin : 5px;
}
.choose_intro{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.subject>a{
    text-decoration: none;
    margin-left: 30px;
}
.subject>a>button{
    width : 350px;
}